* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1365px;
  width: 90%;
  margin: 0 auto;
}

/* header start here================================== */
header {
  background-color: transparent;
  padding: 20px 0;
  top: 0;
  z-index: 3;
  position: relative;
  /* display: un; */

}

.relative {
  position: relative;
  background: url('assets/bg2.jpg') no-repeat center/cover;
}

a,
.navbar,
.navbar-icon,
.navbar-collapse,
.navbar-nav {
  display: flex;
}

.navbar,
.navbar-collapse,
.navbar-icon,
.navbar-nav {
  justify-content: space-between;
}

.navbar {
  align-items: center;
}

.navbar-collapse {
  width: 40%;
}

.navbar-collapse a {
  font-size: 20px;
}

.navbar-icon {
  width: 15%;
}

.navbar-icon a {
  text-indent: -9999px;
}

.navbar-icon a::before {
  font-family: "fontAwesome";
  text-indent: 0;
}

#mailId::before {
  content: "\f003";
}

#whatsapp::before {
  content: "\f232";
}

#whatsapp:hover::before {
  color: #009300;
}

.navbar-nav {
  width: 80%;
}

.navbar-nav a:hover,
.mobile-nav-icon:hover {
  color: #fff;
}

.nav-item {
  list-style: none;
}

.nav-item a,
.mobile-nav-icon {
  text-decoration: none;
  color: #ffffff;
}

.mobile-nav-icon {
  font-size: 25px;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* header end here================================== */


@media screen and (max-width: 1024px) {
  .navbar-collapse {
    width: 60%;
  }

}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    width: 75%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 300px
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  header {
    position: relative;
  }

  .navbar-collapse {
    justify-content: right;
    padding: 0 60px;
  }

  .navbar-collapse .nav-item {
    padding: 0 10px;
  }

  .navbar-nav {
    width: 100%;
    height: 50vh;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-nav .nav-item {
    padding: 10px;
  }

  .mobile-navbar-btn {
    display: block;
  }

  .active .navbar-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  #filter-div,
  .selectiondiv{
    display: block !important;
    text-align: center !important;
  }
  #enquiry_for_selection,
  #properties_type_selection,
  #area_size_selection,
  #location_selection,
  #budget_selection{
    width: 70%;
    margin:0 50px;
  }
}

@media screen and (max-width: 440px) {
  .navbar-collapse {
    width: 40%;
  }
}

@media screen and (max-width: 320px) {
  .navbar-collapse {
    padding: 0 80px 0 0;
  }
  #enquiry_for_selection,
  #properties_type_selection,
  #area_size_selection,
  #location_selection,
  #budget_selection{
    width: 100%;
    margin:0 5px;
  }
}


/* Hero section */
.heroContainer {
  width: 100vw;
  height: 80vh;
}

.relative::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.heroInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.heroText {
  font-size: clamp(1.5rem, 10vw, 4rem);
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 10px;
}

.btn {
  padding: clamp(0.8rem, 3vw, 1rem);
  background-color: #1d3e5300;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin-left: 10px;
  font-size: clamp(0.0rem, vw, 0.8rem);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: all .5s;
}

.btn:hover {
  background-color: #1D3E53;
  border: 1px solid #1D3E53;
}

/* List View */





#card-container {
  max-width: 1350px;
  height: 25%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image {
  width: 300px;

  height: auto;

}

.cropped {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;

}

.card-image {
  height: 70%;
  width: 100%;
  overflow: hidden; 
  position: relative;
  display: inline-block;
}

.card-image img {
  display: block;
  transition: transform .5s ease;
}
.card-image:hover img {
  transform: scale(1.2);
}

.propertyforbtn {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  background-color: #009300;
  border-radius: 5px;
  padding: 5px;
}
.propertydetails{
  padding: 10px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}



#filter-div{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

#submit{
  padding: 10px 40px; 
  background-color: #0072b9;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #fff;
  margin: 10px;
}
#submit::before{
  content: "\f002";
  font-family: "fontAwesome";
  text-indent: 0;
  padding-right: 10px;
}
.selectiondiv{
margin: 10px;
display: flex;
  

}
.selectiondiv label{
  padding: 5px;
  margin: 5px;
  
}
.selectiondiv select{
  border-radius: 5px;
  padding:  10px 0 10px  0;
  /* border-color: #253f4e; */
  border: 1px solid #464452;
}

.propertTitle,
.propertyLocation,
.propertyType,
.propertyArea,
.propertyPrice{
  color: #555;
}

.propertyLocation::before,
.propertyType::before,
.propertyArea::before{
  padding-right: 5px;
  font-family: "fontAwesome";
  text-indent: 0;
}
.propertyLocation{
  padding: 5px 0;
}
.propertyLocation::before{
  content: "\f041";
  color: #ff0000;
}
/* .propertyType{
  text-indent: -999px;
  display: inline-flex;
} */
.propertyType::before{
  content: "\f236";
}
.propertyArea::before{
  content: "\f546";
  padding-left: 10px;
}
.propertyType::before,
.propertyArea::before{
  color: #aaa;
  font-size: 13px;
}
.propertyPrice{
  font-size: 30px;
  color: rgb(0, 208, 139);
}
